<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>发布新博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/indexcss.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment in-padded-tb-po2 in-shadow-1">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable menu">
                <h2 class="ui teal header item"><i class="home icon"></i></h2>
                <a href="#" class="active menu-item item mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="chart pie icon"></i>分类</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="tags icon"></i>标签</a>
<!--                用户头像-->
                <div class="right menu menu-item mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/profile.jpg">
                            Jenny Hess
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        折叠标志-->
        <a href="#" class="ui icon black button mobile-show menu toggle" style="position:absolute;top: 0;right: 0;"><i class="sidebar icon"></i></a>
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <a href="#" th:href="@{/admin/bloglist}" class="item">列表 📚 </a>
            <a href="#" th:href="@{/admin/blogpublish}" class="teal active item">发布 📰 </a>
        </div>
    </div>
    <br>

    <!--展示的分页中间内容-->
    <div class="in-padded-tb-three blog-container-60">
        <div class="ui container">
            <!--中间部分整体是一个表单-->
            <form id="blog-form" action="#" th:action="@{/admin/postblog}" method="post" class="ui segment form">
                <input type="hidden" name="published">
                <!--标题-->
                <div class="required field">
                    <div class="ui right labeled input">
                        <input type="text" name="title" placeholder="标题">
                        <!--原创or转载组件-->
                        <div class="ui dropdown label">
                            <div class="text">原创</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item">原创</div>
                                <div class="item">转载</div>
                                <div class="item">传送门</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--首图-->
                <div class="required field">
                    <div class="ui input">
                        <input type="text" name="picture" placeholder="上传图片">
                    </div>
                </div>
                <!--书写博客区域-->
                <div class="field">
                    <div id="contentmd" style="z-index: 1; !important;">
                        <textarea name="content" id="content" cols="30" rows="10" placeholder="博客内容">
### 这是一个示例，用于编写你的博客
在md编辑器中，你可以像记笔记一样记下一切
你可以**加粗**，*斜体*，~~加划线~~，`写代码块`
> 也可以像这样标记引用~
不过引用之后要空出一行，否则会像这样连起来

更多的功能，慢慢探索吧
                        </textarea>
                    </div>
                </div>
                <!--分类和标签-->
                <div class="two fields">
                    <div class="field">
                        <div class="ui left labeled action input">
                            <label class="ui compact blue basic label"><i class="blue filter icon"></i>分类</label>
                            <div class="ui fluid selection dropdown">
                                <input type="hidden" name="type.id">
                                <i class="dropdown icon"></i>
                                <div class="default text">筛选分类</div>
                                    <div class="menu">
                                        <div class="item" th:each="type : ${typelist}" th:data-value="${type.id}" th:text="${type.name}" data-value="1">Male</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="field">
                        <div class="ui fluid multiple selection search dropdown">
                            <input type="hidden" name="tagId">
                            <i class="dropdown icon"></i>
                            <div class="default text">添加标签</div>
                            <div class="menu">
                                <div th:each="tag : ${taglist}" th:data-value="${tag.id}" th:text="${tag.name}" data-value="1" class="item">Male</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--个性化开关-->
                <div class="inline fields">
<!--                    推荐-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend" class="hidden">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
<!--                    转载声明-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="share" name="shareInfo" class="hidden">
                            <label for="share">转载声明</label>
                        </div>
                    </div>
<!--                    赞赏开关-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="appreciation" name="appreciation" class="hidden">
                            <label for="appreciation">赞赏</label>
                        </div>
                    </div>
<!--                    评论开关-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="commentable" name="comment" class="hidden">
                            <label for="commentable">可评论</label>
                        </div>
                    </div>


                </div>
                <!--错误信息-->
                <div class="ui error message">

                </div>
                <!--返回和发布-->
                <div class="ui container right aligned">
<!--                    返回按钮-->
                    <button type="button" class="ui red basic mini labeled icon button active" onclick="window.history.go(-1)">
                        <i class="left chevron icon"></i>
                        返回
                    </button>
<!--                    保存按钮-->
                    <button type="button" id="save-btn" class="ui green basic mini labeled icon button">
                        <i class="save icon"></i>
                        保存
                    </button>
<!--                    发布按钮-->
                    <button type="button" id="publish-btn" class="ui blue basic mini labeled icon button">
                        <i class="paper plane icon"></i>
                        发布
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted vertical segment in-padded-tb-three">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="static/images/2.jpeg" class="ui  rounded image" style="width: 110px;height: 110px;">
                        </div>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="five wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="in-text-thin in-text-spacing in-opacity-p06">前端开发快捷键前端开发快捷键前端开发快捷键</p>
        </div>
    </footer>

<script>
    //md编辑器初始化
    var contentEditor;
    $(function() {
        contentEditor = editormd("contentmd", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            // path    : "../../static/lib/editormd/lib/" //原路径
            path    : "/lib/editormd/lib/"
        });
    });
    //移动端适配
    $('.menu.toggle').click(function () {
        $('.menu-item').toggleClass('mobile-hide');

    });
    //下拉菜单设定
    $('.ui.dropdown')
        .dropdown({
            on:'hover'
        });
    //表单提交验证
    $('.ui.form').form({
        fields : {
            title: {
                identifier:'title',
                rules:[{
                    type: 'empty',
                    prompt: '请输入博客标题'
                }]
            },
            content: {
                identifier:'content',
                rules:[{
                    type: 'empty',
                    prompt: '请输入博客内容'
                }]
            },
            typeId: {
                identifier:'typeId',
                rules:[{
                    type: 'empty',
                    prompt: '请选择分类'
                }]
            },
            tagId: {
                identifier:'tagId',
                rules:[{
                    type   : 'minCount[1]',
                    prompt : '请选择至少一个标签'
                }]
            }
        }
    });
    //保存草稿
    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });
    //发布博客
    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });
</script>


<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->

</body>
</html>