<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>发布新博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/indexcss.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>
</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment in-padded-tb-po2 in-shadow-1">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable menu">
                <h2 class="ui teal header item"><i class="home icon"></i></h2>
                <a href="#" class="active menu-item item mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="chart pie icon"></i>分类</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="tags icon"></i>标签</a>
<!--                用户头像-->
                <div class="right menu menu-item mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/3.jpg">
                            Jenny Hess
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        折叠标志-->
        <a href="#" class="ui icon black button mobile-show menu toggle" style="position:absolute;top: 0;right: 0;"><i class="sidebar icon"></i></a>
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <a href="#" class="teal active item">发布 🐂 </a>
            <a href="#" class="item">列表</a>
        </div>
    </div>
    <br>

    <!--展示的分页中间内容-->
    <div class="in-padded-tb-three blog-container-60">
        <div class="ui container">
            <!--中间部分整体是一个表单-->
            <form action="#" method="post" class="ui segment form">
                <!--名称-->
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui label">
                            <div class="text">名称</div>
                        </div>
                        <input type="text" name="name" placeholder="分类名称">

                    </div>
                </div>

                <!--错误信息-->
                <div class="ui error message">

                </div>
                <!--返回和发布-->
                <div class="ui container right aligned">
<!--                    返回按钮-->
                    <button type="button" class="ui red basic mini labeled icon button active" onclick="window.history.go(-1)">
                        <i class="left chevron icon"></i>
                        返回
                    </button>
<!--                    保存按钮-->
                    <button class="ui green basic mini labeled icon button active">
                        <i class="save icon"></i>
                        保存
                    </button>
                </div>
            </form>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部footer-->
    <footer class="ui inverted vertical segment in-padded-tb-three">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="static/images/2.jpeg" class="ui  rounded image" style="width: 110px;height: 110px;">
                        </div>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="five wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="in-text-thin in-text-spacing in-opacity-p06">前端开发快捷键前端开发快捷键前端开发快捷键</p>
        </div>
    </footer>

<script>
    //md编辑器初始化
    var contentEditor;
    $(function() {
        contentEditor = editormd("contentmd", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/editormd/lib/"
        });
    });
    //移动端适配
    $('.menu.toggle').click(function () {
        $('.menu-item').toggleClass('mobile-hide');

    });
    //下拉菜单设定
    $('.ui.dropdown')
        .dropdown({
            on:'hover'
        });
    //表单提交验证
    $('.ui.form').form({
        fields : {
            title: {
                identifier:'title',
                rules:[{
                    type: 'empty',
                    prompt: '请输入博客标题'
                }]
            },
            content: {
                identifier:'content',
                rules:[{
                    type: 'empty',
                    prompt: '请输入博客内容'
                }]
            },
            type: {
                identifier:'type',
                rules:[{
                    type: 'empty',
                    prompt: '请选择分类'
                }]
            },
            tag: {
                identifier:'tag',
                rules:[{
                    type   : 'minCount[1]',
                    prompt : '请选择至少一个标签'
                }]
            }
        }
    });
</script>


<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->

</body>
</html>