<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/indexcss.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment in-padded-tb-po2 in-shadow-1">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable menu">
                <h2 class="ui teal header item"><i class="home icon"></i></h2>
                <a href="#" class="menu-item item mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class=" menu-item item mobile-hide"><i class="chart pie icon"></i>分类</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="menu-item item mobile-hide"><i class="clock icon"></i>足迹</a>
                <a href="#" class="item mobile-hide">|</a>
                <a href="#" class="active menu-item item mobile-hide"><i class="user circle icon"></i>我的</a>
                <div class="right item">
                    <div class="ui transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon inverted"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--        折叠标志-->
        <a href="#" class="ui icon black button mobile-show menu toggle" style="position:absolute;top: 0;right: 0;"><i class="sidebar icon"></i></a>
    </nav>
    <br>

    <!--展示的分页中间内容-->
    <div class="in-padded-tb-three blog-container-60">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://unsplash.it/600/600?image=1002" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
<!--                    我的信息-->
                    <div class="ui segment top attached">
                        <p class="ui header">关于我</p>
                    </div>
                    <div class="ui bottom attached segment">
                        <p class="in-text-thin">我虽不说是全校最美的，但也是班上最美的；虽不说是全校最好的，但也是班里最好的，长着一张瓜子脸，皮肤白，吹弹可破。</p>
                        <p class="in-text-thin">我虽不说是全校最美的，但也是全校最美的；虽不说是全校最好的，但也是全校最好的。</p>
                    </div>
<!--                    我的爱好-->
                    <div class="ui segment">
                        <div class="ui red basic label in-margin-tb-p03">编程</div>
                        <div class="ui red basic label in-margin-tb-p03">打牌</div>
                        <div class="ui red basic label in-margin-tb-p03">喝酒</div>
                        <div class="ui red basic label in-margin-tb-p03">烫头</div>
                        <div class="ui red basic label in-margin-tb-p03">编程</div>
                    </div>
<!--                    我的技术栈-->
                    <div class="ui segment">
                        <div class="ui purple label in-margin-tb-p03">JAVA</div>
                        <div class="ui purple label in-margin-tb-p03">Python</div>
                        <div class="ui purple label in-margin-tb-p03">Linux</div>
                        <div class="ui purple label in-margin-tb-p03">JAVA</div>
                        <div class="ui purple label in-margin-tb-p03">JAVA</div>
                    </div>
<!--                    我的社群-->
                    <div class="ui segment top attached">
                        <p class="ui header">我的社群</p>
                    </div>
                    <div class="ui bottom attached segment">
                        <a class="ui circular vk button mini in-margin-tb-p03"><i class="vk icon"></i>VK</a>
                        <a class="ui circular linkedin button mini in-margin-tb-p03"><i class="linkedin icon"></i>LI</a>
                        <a class="ui circular instagram button mini in-margin-tb-p03"><i class="instagram icon"></i>Ins</a>
                        <a class="ui circular youtube button mini in-margin-tb-p03"><i class="youtube icon"></i>YTB</a>
                        <a href="https://github.com/KyleChyan" class="ui circular button mini in-margin-tb-p03"><i class="github icon"></i>git</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部footer-->
    <footer class="ui inverted vertical segment in-padded-tb-three">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/2.jpeg" class="ui  rounded image" style="width: 110px;height: 110px;">
                        </div>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="four wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
                <div class="five wide column in-text-thin in-text-spacing">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list  in-opacity-mini">
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                        <a href="#" class="item">前端开发快捷键</a>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="in-text-thin in-text-spacing in-opacity-p06">前端开发快捷键前端开发快捷键前端开发快捷键</p>
        </div>
    </footer>

<script>

$('.menu.toggle').click(function () {
    $('.menu-item').toggleClass('mobile-hide');

});
</script>


<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->

</body>
</html>